<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/attend.css">
    <script src="/static/JScript/attendTable.js" type="application/javascript"></script>
    <style>
        body {

            background-color: #fefefe;
            background-size: cover;
        }
        th {
            background-color: rgb(66, 119, 216);
            color: white;
            font-size: 25px;
            width: 300px;
            text-align: center;

        }
        tr:hover {
            background-color: yellow;
            font-weight: bold ;
        }
        td {
            font-size: 18px;
            padding: 15px;
        }
        #header1 {
            font-size: 50px;
            color:black;
            font-weight: bold;
            font-family: Tahoma

        }
        #header1:hover{
            color: darkred;
        }
        .container1 {
            width: 20%;
            height: 100%;
            padding: 30px;
            background-color: azure;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 20px;
        }

        .container2 {
            width: 80%;
            display: flex;
            padding: 30px;
            height: 100%;
            background-color: #aaaaaa ;
            border: 0px solid #ccc;
            box-sizing: border-box;
            border-radius: 20px;
        }
        .container-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
            padding: 40px;
            border-radius: 20px;
            background-color: rgb(39, 87, 177);
        }
     
        #timeCheck {
            text-align: center;
            font-size: 30px;
            font-weight: bolder;
            background-color: rgb(39, 87, 177);
            color: white;
          
        }

        .table-responsive {
  overflow-x: auto;
}

/* CSS for small screens */
@media (max-width: 767px) {
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive table {
    width: 100%;
    margin-bottom: 0;
    color: #333;
    border-collapse: collapse;
    text-align: left;
    white-space: nowrap;
  }
  .table-responsive table thead th {
    border-bottom: 1px solid #ddd;
  }
  .table-responsive table tbody td {
    border-bottom: 1px solid #ddd;
  }
  .table-responsive table tbody tr:last-child td {
    border-bottom: none;
  }
  .table-responsive table td {
    display: block;
    padding: 8px;
    line-height: 1.42857143;
    background-color: #fff;
    vertical-align: top;
    border-top: none;
  }
  .table-responsive table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
    </style>
</head>

<body>
<div class="container-wrapper2">
    <div id="timeCheck">
        <p>Current time: <span id="currentTime"></span></p>
    </div>
<div class="container-wrapper2"><h1 id="header1">ATTENDANCE LOG</h1></div>
  
</div>

<!-- Input form -->
<div class="container-wrapper">
<div class="container1">
<form id="searchForm" action="/search" method="GET">
    <label>Search</label>
    <input type="text" name="searchKey" placeholder="search">
    <input type="submit" value="Submit">
</form>
<form id="searchForm" action="/searchperiod" method="GET">
    <label>Period From: </label>
    <input type="date" name="dateStart" placeholder="Select date">
    <label>To: </label>
    <input type="date" name="dateEnd" placeholder="Select date">
    <input type="submit" value="Query">
</form>
    <button id="button2" onclick="getValues()">Print PDF All</button>
    <button type="button" class="btn btn-primary" onclick="redirectToPage()">Home</button>
</div>

<!-- Table -->
<div class="container2">
    <div class="table-responsive">
        <table id="data-table">
            <tr>
                <th>UserId</th>
                <th>Name</th>
                <th>Mode</th>
                <th>AttendedDate</th>
                <th>AttendedTime</th>
                <th>Method</th>

            </tr>
            {{range .Views}}
                <tr>
                    <td>{{.UserId}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Mode}}</td>
                    <td>{{.AttendedDate}}</td>
                    <td>{{.AttendedTime}}</td>
                    <td>{{.Method}}</td>

                </tr>
            {{end}}
        </table>

        <div id="pagination">
            {{if gt .TotalPages 1}}
                {{range .Pages}}
                    <a href="?page={{.}}">{{.}}</a>
                {{end}}
            {{end}}
        </div>

    </div>
    </div>

</div>
<script>
    function updateTime() {
        var currentTimeElement = document.getElementById("currentTime");
        var currentTime = new Date().toLocaleTimeString();
        currentTimeElement.textContent = currentTime;
    }
    setInterval(updateTime, 1000);
</script>
<script>
    function redirectToPage() {
    window.location.href = "/"; 
        }
  </script>
</body>
</html>