<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/static/css/attend.css">
  <!-- <script src="/static/JScript/summary.js" type="application/javascript"></script> -->
  <style>
    body {
       background-color: white;
    }
    th {
      background-color: darkgreen;
      color: blanchedalmond;
      font-size: 18px;
      width: 150px;
      text-align: center;
    }
    tr:hover {
          font-weight: bold ;
    }
    #data-table tr:nth-child(even) td {
       background-color: #f2f2f2;
     }
    #data-table tr:nth-child(odd) td {
      background-color: #ffffff;
    }
    td {
      font-size: 18px;
      padding: 15px;

    }
    #header1 {
      font-size: 50px;
      color: black;
      font-weight: bolder;
      font-family: "Baskerville Old Face"
    }
    #header1:hover{
      color: darkred;
    }
    .container-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
      padding: 40px;
      border-radius: 20px;
      background-color: darkgreen;
    }
    .container1 {
      height: 100%;
      width: 20%;
      padding: 30px;
      background-color: blanchedalmond;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 20px;
    }
    .container2 {
      width: 80%;
      border-radius: 20px;
      display: flex;
      padding: 30px;
      height: 100%;
      background-color: #cccccc ;
      border: 0px solid #ccc;
      box-sizing: border-box;
    }
    #timeCheck {
      text-align: center;
      font-size: 30px;
      font-weight: bolder;
      background-color: #4CAF50;
    }
    .table-responsive {
  overflow-x: auto;
}

/* CSS for small screens */
@media (max-width: 767px) {
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive table {
    width: 100%;
    margin-bottom: 0;
    color: #333;
    border-collapse: collapse;
    text-align: left;
    white-space: nowrap;
  }
  .table-responsive table thead th {
    border-bottom: 1px solid #ddd;
  }
  .table-responsive table tbody td {
    border-bottom: 1px solid #ddd;
  }
  .table-responsive table tbody tr:last-child td {
    border-bottom: none;
  }
  .table-responsive table td {
    display: block;
    padding: 8px;
    line-height: 1.42857143;
    background-color: #fff;
    vertical-align: top;
    border-top: none;
  }
  .table-responsive table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
  </style>
</head>
<body>

<div class="container-wrapper2">
  <div id="timeCheck">
    <p>Current time: <span id="currentTime"></span></p>
  </div>
  <div class="container-wrapper2"><h1 id="header1">SUMMARY LOG</h1></div>

<!-- Input form -->
<div class="container-wrapper">

  <div class="container1">
  <form id="searchForm" action="/summarizeSearch" method="GET">
    <label>Search</label>
    <input type="text" name="summarizeSearch" placeholder="search">
    <input type="submit" value="Submit">
  </form>
  <form id="searchForm" action="/searchPeriod" method="GET">
    <label>Period From: </label>
    <input type="date" name="dateStart" placeholder="Select date">
    <label>To: </label>
    <input type="date" name="dateEnd" placeholder="Select date">
    <input type="submit" value="Query">
  </form>
  <button id="button2" onclick="getValues()">Print PDF All</button>
  <button type="button" class="btn btn-primary" onclick="redirectToPage()">Home</button>
  </div>

  <!-- Table -->
  <div class="container2">
    <div class="table-responsive">
      <table id="data-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>UserId</th>
            <th>Name</th>
            <th>TimeIn</th>
            <th>TimeOut</th>
            <th>MealIn</th>
            <th>MealOut</th>
            <th>BreakIn</th>
            <th>BreakOut</th>
            <th>OvertimeIn</th>
            <th>OvertimeOut</th>
            <th>Hours Work</th>
            <th>Overtime Hour</th>
          </tr>
        </thead>
        <tbody>
          {{range .Views}}
          <tr>
            <td>{{.Date}}</td>
            <td>{{.UserId}}</td>
            <td>{{.Name}}</td>
            <td>{{.Timein}}</td>
            <td>{{.Timeout}}</td>
            <td>{{.MealIn}}</td>
            <td>{{.MealOut}}</td>
            <td>{{.BreakIn}}</td>
            <td>{{.BreakOut}}</td>
            <td>{{.OverTimeIn}}</td>
            <td>{{.OverTimeOut}}</td>
            <td>{{.HoursWork}}</td>
            <td>{{.OverTimeHour}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>

</div>  
</div> 

<script src="/static/JScript/summary.js"></script>
<script>
  function updateTime() {
    var currentTimeElement = document.getElementById("currentTime");
    var currentTime = new Date().toLocaleTimeString();
    currentTimeElement.textContent = currentTime;
  }
  setInterval(updateTime, 1000);
</script>
<script>
  function redirectToPage() {
  window.location.href = "/"; 
      }
</script>
</body>
</html>