
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    width: 200px;
}

input[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}



img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer

}
button:hover {
    background-color: brown;
    font-size: 18px;
}