body {
    margin: 30px;
    padding: 30px;
}


.container {
    background-color: black;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}


.container1 .btn {
    height: calc(95% / 1);
    width: calc(95% / 1);
}

.container2 {
    padding: 30px;
    height: 100%;
    background-color: #888888 ;
    border: 0px solid #ccc;
    box-sizing: border-box;
}

.container2 .btn {
    width: calc(95% / 1);
    height: calc(95% / 1);
}

#timeCheck{
    padding-top: 20px;
    background-color: ghostwhite;
    color: black;
    font-size: 20px;

}
#buttonNum {
    font-size: 60px;

}
#mode {
    text-align: center;
    font-size: 50px;
}